.heading{
  background-color: #aee1e1;
  width: 100%;
  height: 100%;
  text-align: center;

}

.profile{
  border-radius: 50%;
  border-width: 30px;
width: 120px;
height: 120px;
  }

.name{
  text-align: center;
}

.contact{
  text-align: center;
}

.body{
  background-color: #fcd1d1;
}
